<div *ngIf="books">
  <div #book *ngFor="let book of books">
    <mat-card>
      <!-- <span class="header">
      <h2>{{book.volumeInfo.title}}</h2>
      <img [src]="book.volumeInfo.imageLinks.smallThumbnail">
    </span>
    <span >
      <span ><b>Rating:</b> {{ book.volumeInfo.ratingsCount }}</span><br><br>
      <span> <b>Publisher:</b> {{ book.volumeInfo.publisher }}</span><br>
      <span> <b>PageCount:</b> {{ book.volumeInfo.pageCount }}</span><br>
      <span> <b>Language:</b> {{ book.volumeInfo.language }}</span><br>
    </span><br>
    <p class="desc">{{book.volumeInfo.description}}</p>
    <span>
      <p><b>Written By:</b> <br>{{book.volumeInfo.publisher}} 
        <mat-icon (click)="removeFromCart(book.id)">remove_shopping_cart</mat-icon> </p>
    </span> -->
      <books-shopping-shared
        [book]="book"
        [cart]="cart"
      ></books-shopping-shared>
    </mat-card>
    <span class="footer">
      <button (click)="purchaseBook(book)" class="buyButton" mat-raised-button>
        Proceed to Buy
      </button>
    </span>
  </div>
</div>
